div {
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 100px;
    line-height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .brand-logo { 
    font-size: 3em; 
    white-space: nowrap;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

.containerProfileIconAndLevel {
    width: 200px;
}

.containerRankInfo {
    width: 300px;
    height: 200px;
}

.height-80 {
    height: 80px;
}

.frameProfile {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.frameProfile img {
    max-width: 100%;
    max-height: 100%;
}

.frameRankIcon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.frameRankIcon img {
    max-width: 100%;
    max-height: 100%;
}

.inputSummonerAndSubmit {
    height: 500px;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
}

.inputSummonerAndSubmit div {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
}

.result {
    position: relative;
    top: 200px;
}

.summonerLevel {
    background-color: rgb(50,50,50);
    border: 1px solid rgb(218,165,32);
    border-radius: 50%;
    color: rgb(218,165,32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bold;    position: relative;
    top: -20px;
    width: 25px;
}

.username {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}