div {
    margin-left: auto;
    margin-right: auto;
}

.containerProfileIconAndLevel {
    width: 200px;
}

.containerRankInfo {
    width: 300px;
    height: 200px;
}

.height-80 {
    height: 80px;
}

.frameProfile {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.frameProfile img {
    max-width: 100%;
    max-height: 100%;
}

.frameRankIcon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.frameRankIcon img {
    max-width: 100%;
    max-height: 100%;
}

.inputSummonerAndSubmit {
    height: 60vh;
    padding: 10px;
    margin: auto;
    vertical-align: middle;
}

.inputSummonerAndSubmit div {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
}

.summonerLevel {
    background-color: rgb(50,50,50);
    border: 1px solid rgb(218,165,32);
    border-radius: 50%;
    color: rgb(218,165,32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bold;    position: relative;
    top: -20px;
    width: 25px;
}

.username {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}